$max-width: 960px !default;

// Padding used for layout margins
$pad-min: 18px !default;
$pad-narrow: 25px !default;
$pad-medium: 35px !default;
$pad-wide: 55px !default;

// Sidebar widths used in media queries
$sidebar-width-medium: 240px !default;
$sidebar-pad-medium: 15px !default;
$sidebar-pad-wide: 20px !default;
$sidebar-width-wide: 300px !default;

$indented-lists: false !default;

$header-font-size: 1em !default;
$header-padding-top: 1.5em !default;
$header-padding-bottom: 1.5em !default;

.group { @include pie-clearfix; }

@mixin collapse-sidebar {
  float: none;
  width: auto;
  clear: left;
  margin: 0;
  padding: 0 $pad-medium 1px;
  section {
    &.odd, &.even { float: left; width: 48%; }
    &.odd { margin-left: 0; }
    &.even { margin-left: 4%; }
  }
  &.thirds section {
    width: 30%;
    margin-left: 5%;
    &.first {
      margin-left: 0;
      clear: both;
    }
  }
}

body {
  -webkit-text-size-adjust: none;
  max-width: $max-width;
  position: relative;
  margin: 0 auto;
  > header, > nav, > footer, #content > article, #content > div > article, #content > div > section {
    @extend .group;
    margin-left: $pad-min;
    margin-right: $pad-min;
    @media only screen and (min-width: 480px) {
      margin-left: $pad-narrow;
      margin-right: $pad-narrow;
    }
    @media only screen and (min-width: 768px) {
      margin-left: $pad-medium;
      margin-right: $pad-medium;
    }
    @media only screen and (min-width: 992px) {
      margin-left: $pad-wide;
      margin-right: $pad-wide;
    }
  }
  div.pagination {
    @extend .group;
    margin-left: $pad-min;
    margin-right: $pad-min;
    @media only screen and (min-width: 480px) {
      margin-left: $pad-narrow;
      margin-right: $pad-narrow;
    }
    @media only screen and (min-width: 768px) {
      margin-left: $pad-medium;
      margin-right: $pad-medium;
    }
    @media only screen and (min-width: 992px) {
      margin-left: $pad-wide;
      margin-right: $pad-wide;
    }
  }
  > header {
    text-align: center;
    font-size: $header-font-size;
    padding-top: $header-padding-top;
    padding-bottom: $header-padding-bottom;
  }
}

#content {
  overflow: hidden;
  > div, > article { width: 100%; }
}

.flex-content { max-width: 100%; height: auto; }

.basic-alignment {
  &.left { float: left; margin-right: 1.5em; }
  &.right { float: right; margin-left: 1.5em; }
  &.center { display:block; margin: 0 auto 1.5em; }
  &.left, &.right { margin-bottom: .8em; }
}

.toggle-sidebar { &, .no-sidebar & { display: none; }}

body.sidebar-footer {
  #content { margin-right: 0px; }
  .toggle-sidebar { display: none; }
}

@media only screen and (min-width: 550px) {
  body > header { font-size: $header-font-size; }
}
#main, #content, .sidebar {
  @extend .group;
}
@media only screen and (min-width: 768px) {
  body { -webkit-text-size-adjust: auto; }
  body > header { font-size: $header-font-size * 1.2; }
  #main {
    padding: 0;
    margin: 0 auto;
  }
  #content {
    overflow: visible;
    margin-right: $sidebar-width-medium;
    position: relative;
    .no-sidebar & { margin-right: 0; border-right: 0; }
    .collapse-sidebar & { margin-right: 20px; }
    > div, > article {
      text-align:justify;
      float: left;
    }
  }
}

@media only screen and (min-width: 992px) {
  body > header { font-size: $header-font-size * 1.3; }
  #content {
    margin-right: $sidebar-width-wide;
  }
}
