article {
  a { @extend .force-wrap;
    &, &:visited, &:active, &:hover { text-decoration: none; }
  }
  header {
    position: relative;
    padding-top: 2em;
    padding-bottom: 1em;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 1em;
    h1 {
      text-align: center;
      margin: 0;
      font-weight: 400;
      a { text-decoration: none;
        @include link-colors($text-color, $visited: $text-color);
        }
    }
    p {
      font-size: .9em;
      color: $text-color-light;
      margin: 0;
      &.meta {
        @extend .sans;
        text-transform: uppercase;
        position: absolute; top: 0;
      }
    }
    @media only screen and (min-width: 768px) {
      margin-bottom: 1.5em;
      padding-bottom: 1em;
    }
  }
  h2 {
    padding-top: 0.8em;
  }
  .entry-content & h2:first-child, header + h2 { padding-top: 0; }
  h2:first-child, header + h2 { background: none; }
  .feature {
    padding-top: .5em;
    margin-bottom: 1em;
    padding-bottom: 1em;
    font-size: 2.0em; font-style: italic;
    line-height: 1.3em;
  }
  img, video, .flash-video {
    @extend .flex-content;
    @extend .basic-alignment;
    @include shadow-box;
  }
  iframe {
   margin: 0 auto;
   margin-bottom: 1.5em;
   display:block;
  }
  video, .flash-video { margin: 0 auto 1.5em; }
  video { display: block; width: 100%; }
  .flash-video {
    > div {
      position: relative;
      display: block;
      padding-bottom: 56.25%;
      padding-top: 1px;
      height: 0;
      overflow: hidden;
      iframe, object, embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
  > footer {
    @extend .sans;
    .byline + time:before, time +time:before, .comments:before, .byline ~ .categories:before {
      @extend .separator;
    }
  }

}

.separator {
  content: "\2022 ";
  padding: 0 .4em 0 .2em;
  display: inline-block;
}
