body > nav {
  position: relative;
  background-color: $nav-bg;
  padding-top: .35em;
  padding-bottom: .35em;
  padding-left: 5px;
  padding-right: 5px;

    font-size: 0.95em;
    ul {
      @include horizontal-list(0);
      float: left;
      display: block;
      padding-top: .1em;
    }
    ul.subscription {
      margin-left: .8em;
      float: right;
      li:last-child a { padding-right: 0; }
    }
    ul.subscribe {
      margin-top: -.2em;
      margin-bottom: -.27em;
      margin-left: .8em;
      float: right;
      li:last-child a { padding-right: 0; }
    }
    ul li {
      margin: 0;
    }
    a {
      @include link-colors($nav-color, $nav-color-hover, $visited: $nav-color);
      font-family: $sans;
      text-shadow: darken($nav-bg, 3) 0 1px;
      float: left;
      text-decoration: none;
      font-size: .9em;
      padding: .3em 0 .1em;
      line-height: 1.5em;
    }
    li + li {
      border-left: 0;
      margin-left: .8em;
      a {
        padding-left: .8em;
        border-left: 1px solid $nav-border-right;
      }
    }

  @media only screen and (min-width: 992px) {
    form {
      width: $sidebar-width-wide - $pad-wide - $sidebar-pad-wide*2 + 10px;
    }
    ul[data-subscription$=email] + form {
      width: $sidebar-width-wide - $pad-wide - $sidebar-pad-wide*2 - 58px;
    }
  }
}
@mixin whitespace-subscription-button($feed, $feed-retina: ''){
  position: relative; top: 0px;
  text-indent: -999999em;
  border: 0;
  padding: 0;
  &:after {
    content: "";
    position: absolute; top: 0; left: 0;
    background-color: lighten($nav-color, 15);
  }
  &:hover:after { background-color: lighten($nav-color, 20); }
}

svg path.social, svg g.social path, svg g.social rect {
  fill: darken($nav-border-top, 20);
  transition:.3s;
}

svg:hover path.social, svg:hover g.social path, svg:hover g.social rect {
  fill: darken($nav-border-top, 7);
}
