<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  
  <title>{{ page.title }}</title>
  
  <meta name="author" content="{{ site.author.name }}" />
  
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" /> 
  
  {% capture styles %}
  {% include normalize.css %}
  {% include pygment_highlights.css %}
  {% include readable.css %}
  {% endcapture %}
  <style>
  {{ styles | scssify }}
  </style>
  
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', '{{ site.google_analytics }}', 'auto');
  ga('send', 'pageview');
  </script>
</head>

<body>
  
  <nav>
    <ul>
      <li>
        <a href="/" title="Home">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-home fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li>
      <li>
        <a href="https://github.com/{{ site.author.github }}" title="GitHub">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-github fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li>
      <li>
        <a href="https://twitter.com/{{ site.author.twitter }}" title="Twitter">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li>
      <li>
        <a href="mailto:{{ site.author.email }}" title="Email me">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li>
      <li>
        <a href="{{ '/feed.xml' | prepend: site.baseurl }}" title="RSS">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-rss fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li>		  
    </ul>
  </nav>
  
  {{ content }}
  
  <script type="text/javascript">
  (function() {
    var css = document.createElement('link');
    css.href = '//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css';
    css.rel = 'stylesheet';
    css.type = 'text/css';
    document.getElementsByTagName('head')[0].appendChild(css);
  })();
  </script>
  
</body>
</html>
